{% extends 'student/base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="container">
        <div class="row pt-3">
            <div class="col-lg-8">
                {% for message in messages %}
                    <p class="alert alert-danger">{{ message }}</p>
                {% endfor %}
                <h2>Available</h2>
                {% if available_friends %}
                    <table class="table table-striped">
                        {% for friend in available_friends %}
                            <tr>
                                <td>{{ friend.first_name }} {{ friend.last_name }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    <p class="alert alert-secondary">No Available Friends</p>
                {% endif %}
                <h2 class="pt-3">Busy</h2>
                {% if busy_friends %}
                    <table class="table table-striped">
                        {% for friend in busy_friends %}
                            <tr>
                                <td>{{ friend.first_name }} {{ friend.last_name }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    <p class="alert alert-secondary">No Busy Friends</p>
                {% endif %}
            </div>
            <div class="col-lg-4">
                <h2>Send Request</h2>
                <div class="card">
                    <div class="card-body">
                        <div class="form-group row">
                            <form method="POST">
                                {% csrf_token %}
                                <label class="" for="username">Username: </label>
                                {{ friend_request_form.friend_username }}
                                <button type="submit" class="btn btn-primary" name="send_friend_request">+</button>
                            </form>
                        </div>
                    </div>
                </div>
                <h2 class="pt-3">Friend Requests</h2>
                {% if unknown_friend_requests %}
                    <form method="POST">
                        {% csrf_token %}
                        <table class="table table-striped">
                            {% for request in unknown_friend_requests %}
                                <tr>
                                    <td style="width: 80%" class="align-middle"><p>{{ request.sending_student }}</p></td>
                                    <td style="width: 10%"><button class="btn btn-success" name="accept_fr" value="{{ request.sending_student }}" type="submit">+</button></td>
                                    <td style="width: 10%"><button class="btn btn-danger" name="reject_fr" value="{{ request.sending_student }}" type="submit">-</button></td>
                                </tr>
                            {% endfor %}
                        </table>
                    </form>
                {% else %}
                    <p class="alert alert-secondary">No Friend Requests</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}